:root {
background-image: linear-gradient(to right, #06131b, #081921, #081e27, #06242c, #052a30, #042a30, #042b31, #032b31, #03252d, #042029, #041a24, #03151f);
}
body {
color: white;
position: absolute;
font-family: Arial, Helvetica, sans-serif;
font-size: 110%;
}
a {
color: rgb(3, 255, 255);
}
/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
scrollbar-width: auto;
scrollbar-color: #59d8b3 #03151f;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 18px;
}

*::-webkit-scrollbar-track {
background: #03151f;
}

*::-webkit-scrollbar-thumb {
background-color: #59d8b3;
border-radius: 10px;
border: 3px solid #000000;
}