:root {
    --bgColor: #191c25;
    --color: #ffffff;
    --color-link: #58a6ff;
    --color-l-text: #8EFF7C;
}
.herz { 
    color:#e25555;
    cursor: pointer;
}
.footer {
    text-align: center;
    font-size: large;
    position: fixed;
    left: 0;
    bottom: 2%;
    height: 90px;
    width: 100%;
    overflow: hidden;
}
body {
    background-color: var(--bgColor);
    color: var(--color);
}
.link {
    color: var(--color-link);
}
.logo {
    position: absolute;
    height: 128px;
    border-radius: 40%;
    left: 38%;  
    top: 40%;
}
img {
    border-radius: 50%;
    width: 128px;
}
.buttons {
    height: 128px;
    border-radius: 40%;
    position: absolute;
    left: 50%; 
    right: 45%; 
    top: 55%;
}
.ltext2 {
    position: absolute;
    left: 47.5%;
    top: 41%;
    color: var(--color-l-text);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ltext {
    position: absolute;
    left: 45.8%;  
    top: 44.5%;
    color: var(--color-l-text);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.herz:hover {
    color: #ff0000;
}