:root {
    --bgColor: #1E2020;
    --color: #ffffff;
    --color-link: #58a6ff;
}
.herz { 
    color:#e25555; 
}
.footer {
    text-align: center;
    font-size: large;
    position: fixed;
    left: 0;
    bottom: 2%;
    height: 90px;
    width: 100%;
    overflow: hidden;
}
body {
    background-color: var(--bgColor);
    color: var(--color);
}
.link {
    color: var(--color-link);
}
.logo {
    position: absolute;
    height: 128px;
    border-radius: 40%;
    left: 47.1%;  
    top: 40%;
}
img {
    border-radius: 50%;
    width: 128px;
}
.buttons {
    height: 128px;
    border-radius: 40%;
    position: absolute;
    left: 50%; 
    right: 45%; 
    top: 55%;
}